/* MAIN NAV */
._1sGI2JlkrRf9ZHH4gsMkVZ {background:#ff0000 !important}

/* PROMO BANNER */
._37ZnT8neKi_1k8qA3E-zKF {height:76px;background-color:#ff0000 !important; background-image:url("https://staging.hartsofstur.com/media/gene-cms/b/a/bank-holiday-sale-1500.jpg");background-position:center;}
._37ZnT8neKi_1k8qA3E-zKF .container-fluid {display:block;width:100%;margin:0px;max-width:100%;height:100%;}
._37ZnT8neKi_1k8qA3E-zKF .container-fluid div {height:100%}
._37ZnT8neKi_1k8qA3E-zKF a {display:block;width:100%;height:100%;font-size:0px;}
